body {
	font-family: sans-serif;
}

main {
	margin: 0 auto;
	position: relative;
	min-height: 300px;
	width: 1000px;
}

/* Menu */
menu {
	padding: 0;
	position: relative;
	margin-bottom: 20px;
	top: 20px;
}

menu ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style: none;
	margin: 0 auto;
	padding: 0;
	width: 400px;
}

menu ul li a {
	color: #666;
	font-family: sans-serif;
	font-size: 12px;
	text-decoration: none;
	text-transform: uppercase;
}

menu ul li a:hover {
	color: #79a1e3;
	text-decoration: none;
}

.branding {
	background: url('../../assets/img/logo.png') no-repeat;
	background-size: 50px;
	height: 50px;
	margin-top: -5px;
	width: 50px;
}

.branding p {
	text-indent: -5000px;
}

.branding p a {
	display: block;
	height: 45px;
	width: 100%;
}

/* Works */

#work {

}

#work header h3 {
	color: #79a1e3;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

#work header p {
	color: #666;
	font-size: 14px;
	width: 470px;
}

/* Footer */
footer {
	bottom: 0;
	position: absolute;
}
footer p {
	color: #666;
	font-size: 14px;
	text-align: center;
	width: 100%;
}