<hero></hero>
<section id="work" class="home-section">
	<header>
		<h3 class="title">Latest Works</h3>
		<p>Showcasing a selection of carefully crafted concepts & samples from
past & current projects, to inspire, disrupt & solve problems.</p>
	</header>
	<ul>
		<li ng-repeat="item in $ctrl.items">
			<img src="{{ item.better_featured_image.source_url }}" />
			<p class="title">{{ item.title.rendered }}</p>
			<p class="type">{{ item.acf.project_type }}</p>
		</li>
	</ul>
</section>
<journal></journal>